/**
 * *There must be no class or id selectors here, except the base wrapper!*
 *
 * If you want to reuse styles, you should create a reusable React component.
 */
body {
  box-sizing: border-box;
  /* Prevent iOS text size adjust after orientation change. */
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
}

/* `border-box` is be the default on all elements, but if any component
   (such as a 3rd party) relies on `content-box` we can set it on the element
   and it's children will inherit the styles. */
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* LINKS
   ========================================================================= */

/* Clickable items will have a lot of different UI requirements, so there is
   no point defining a style here that might be overridden all the time. */
a {
  color: inherit;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

/* TEXT
   ========================================================================= */

/* We want to be able to use the heading element that suits the page hierarchy
   best, without worrying about default styling. */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, dt, strong, th {
  font-weight: 600;
}

/* Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

/* FORMS
   ========================================================================= */

/* *Always* use `button` rather than `input type=submit`, since the latter has
   a lot of browser inconsistencies. */
button {
  /* Address `overflow` set to `hidden` in IE 11. */
  overflow: visible;
  user-select: none;
  -webkit-appearance: button;
}

button, fieldset, input, textarea {
  background-color: transparent;
  border: 0;
  outline: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
}

textarea {
  overflow: auto;
}

/* Address inconsistent `text-transform` inheritance for `button` and `select`.
   All other form control elements do not inherit `text-transform` values. */
button, select {
  text-transform: none;
}

/* Remove default search input styles in Chrome and Safari. */
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* CONTENT
   ========================================================================= */

iframe {
  border: 0;
}

/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0px solid;
  border-top-width: 1px;
}

svg {
  fill: inherit;
}

/* Being a web-app, we'll mostly use lists in a context without bullets. */
ol, ul {
  list-style: none;
}

/* Remove the extra whitespace that can appead below images */
img {
  vertical-align: middle;
}