@import "color";

button.standard-button,
button.standard-button:hover,
button.standard-button:focus,
button.standard-button:active {
  border: $blue 1px solid;
  background: $lightblue;
  border-radius: 5px;
  font-size: 14px;
  line-height: 27px;
  padding: 0px 10px;
}

button.standard-button:focus {
  border: $darkblue 1px solid;
  background: $blue;
}

button.standard-button:active {
  background: $blue;
}

input.standard-input {
  height: 32px;
}

input.standard-input,
textarea.standard-textarea {
  padding: 0;
  border-bottom: $gray1 1px solid;
  background: transparent;
  color: $black;
  line-height: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

input.standard-input:focus,
textarea.standard-textarea:focus {
  border-bottom: $blue 1px solid;
}

.standard-input-warning {
  position: relative;
  top: -2px;
  color: $orange;
  font-size: 12px;
}

