$blue: #009fd1;
$lightblue: #a8d2e6;
$darkblue: #006a89;

$orange: #eaB80f;

$black: #1e1e1c;
$gray1: #727171;
$gray2: #bebfbf;
$gray3: #d1d1d1;
$gray4: #f4f4f4;

$link_blue: #3b69d6;
$error_red: #c32827;
