@import "./color";
@font-face {
  font-family: 'Futura';
  src: url('/assets/font/Futura-Book.woff');
}

body {
  font-family: 'Futura', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  -ms-overflow-style: scrollbar;  // prevents IE11 from having transparent scrollbar that overlays the UI
  overflow-y: scroll;
}

body, #content, #content>* {
  // An argument could be made to use min-height: 100% somewhere instead of height. However, IE11 can't handle flexboxes without specific height:
  // https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
  height: 100%;
}

input::-ms-clear {
  display: none;
}

input:not([type="submit"]) {
  border: none;
  outline: none;

  &::-webkit-input-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &:-moz-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &::-moz-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: $gray1;
    font-style: italic;
  }
}

textarea {
  border: none;
  outline: none;
  resize: none;

  &::-webkit-input-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &:-moz-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &::-moz-placeholder {
    color: $gray1;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: $gray1;
    font-style: italic;
  }
}