@import '../css/color';

.main {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 0 auto;

  .title {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 2em;
  }

  .notes {
    flex: 1 0 auto;

    .note {
      flex: 1 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 10px 0px;
      .default-checkbox {
        flex: 0 0 auto;
      }
      input {
        flex: 1 0 auto;
        padding-top: 10px;
        font-size: 1.2em;

        &.crossed {
          color: $gray;
          text-decoration:line-through
        }
      }
      .delete-button {
        flex: 0 0 auto;
        margin: 0px 4px;
      }
    }
  }

  .bottom {
    flex: 0 0 auto;
    background: white;

    button,
    button:active,
    button:focus {
      width: 50%;
      height: 50px;
    }
  }
}