@import '../css/color';

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;

  .error {
    position: fixed;
    width: 100%;
    max-width: 500px;
    font-size: 2em;
    text-align: center;
    background: red;
  }

  .title {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 2em;
  }

  .notes {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @media (max-width: 600px) {
      .grower {
        flex: 1 0 auto;
      }
    }

    .note {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 10px 0px;
      .default-checkbox {
        flex: 0 0 auto;
      }
      input {
        flex: 1 0 auto;
        padding-top: 10px;
        font-size: 1.2em;

        &.crossed {
          color: $gray2;
          text-decoration: line-through
        }
      }
      .delete-button {
        flex: 0 0 auto;
        margin: 0px 4px;
      }
    }
  }

  .bottom {
    flex: 0 0 auto;
    background: white;

    button,
    button:active,
    button:focus {
      width: 50%;
      height: 50px;
    }

    .button-icon {
      display: inline-block;
      width: 0px;
      > span {
        margin-left: 5px;
      }
    }
  }
}