@import '../css/color';
@import '../css/util';
button.default-checkbox {
  border: transparent 1px solid;
  color: $black;
  i {
    width: 24px; // since checked and unchecked have different width
    padding: 0px 4px;
    text-align: left;

    &.fa-check-square-o {
      color: $gray2;
    }
  }
}
button.default-checkbox:focus {
  border: $blue 1px solid;
}
.default-checkbox:disabled {
  color: $gray3;
}
